html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  background: #ffffff;
  margin: 0;
  font-family: 'azo-sans-web', Arial, Helvetica, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-wrap {
  padding: 32px 0;
}

body>* {
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.farm-container {
  margin: initial !important;
  margin-bottom: 48px !important;
}

a {
  color: rgba(229, 147, 16, 1);
}

.b-btn {
  height: 48px;
  border: 1px solid #ffffff;
  background-color: transparent;
  border-radius: 24px;
  color: #ffffff;
  padding: 0 24px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  min-width: 116px;
  position: relative;
}

.b-btn:focus, .b-btn.dropdown button:focus {
  outline: none;
}

.i-btn {
      border: none;
      background-color: transparent;
      border-radius: 24px;
      color: #0E7DFF;
      font-size: 14px;
      font-weight: 700;
      cursor: pointer;
      width: 48px;
      height: 48px;
      position: relative;
}

.dropdown-menu.show {
  display: flex;
  flex-direction: column;
  background-color: #0E7DFF;
  width: 100%;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  inset: 12px auto auto 0px !important;
}

.Toastify__progress-bar--default {
  background: #4cd964;
}

.dropdown-menu.show a {
  height: 48px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b-btn.dropdown {
  padding: 0;
}

.b-btn.dropdown button {
  height: 48px;
  border: transparent;
  background-color: transparent;
  border-radius: 24px;
  color: #ffffff;
  padding: 0 24px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  min-width: 116px
}

.b-btn.main {
  border: 1px solid #0E7DFF;
  color: #0E7DFF;
}

.b-btn.main:disabled, .button:disabled, .input-selection.disabled {
  cursor: default;
  opacity: 0.32;
}

.input-selection.disabled .input-selection-icon {
  cursor: default;
}

.input-selection-number {
  background: #FFFFFF;
  border: none;
  width: 54px;
  height: 54px;
  max-width: 54px;
  max-height: 54px;
  text-align: center;
  font-family: 'azo-sans-web', Arial, Helvetica, sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.input-selection-number:focus {
  outline: none;
}

.nbdr-btn {
  background: transparent;
  border: none;
}

.button {
  height: 48px;
  border: none;
  background-color: #0E7DFF;
  box-shadow: 0px 0px 30px #E5931058;
  border-radius: 24px;
  color: #ffffff;
  padding: 0 24px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  min-width: 116px;
  box-shadow: none;
}

.button:focus, .nbdr-btn:focus {
  outline: none;
}

.nav-item {
  color: #ffffff;
  margin-right: 48px;
  cursor: pointer;
  text-decoration: none;
}

.modal-actions-btm, .modal-actions-btm div div button {
  width: 100%;
}

.card-wrap {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 18px #00000014;
  border-radius: 13px;
  padding: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 517px;
}

.card-title {
  text-align: left;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 0px;
  color: #25252C;
  opacity: 1;
  margin-bottom: 40px;
}

.farms-content-wrap {
  display: flex;
  justify-content: center;
  height: 100%;
  /* width: 100%; */
}

.farms-content {
  display: flex;
  justify-content: center;
  height: 100%;
  /* width: 70%; */
}

.card-content-row {
  height: 112px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-content-row img,
.unstake-card img {
  width: 92px;
}

.card-content-row-title {
  text-align: left;
  font-size: 16px;
  letter-spacing: 0px;
  color: #25252C;
  opacity: 0.48;
  margin-left: 24px;
}

.input-selection {
  width: 146px;
  height: 56px;
  border: 1px solid #D1D1D1;
  border-radius: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: auto;
}

.input-selection-icon {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card-wrap-column {
  display: flex;
  flex-direction: column;
  margin-left: 48px;
  height: 100%;
  width: 100%;
}

.card-wrap-column .card-wrap {
  width: 100%;
  min-width: max-content;
  max-width: 686px;
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card-wrap-column .card-wrap .card-content-btm {
  margin-top: 40px;
}

.card-wrap-column .card-wrap:first-child {
  margin-bottom: 40px
}

.card-content-text {
  text-align: left;
  font-size: 18px;
  letter-spacing: 0px;
  color: #25252C;
  margin-right: 16px;
}

.disabled {
  opacity: 0.48
}

.card-content-number {
  text-align: left;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 0px;
  color: #0E7DFF;
  opacity: 1;
}

.input-selection-icon.left {
  left: 0;
}

.input-selection-icon.right {
  right: 0;
}

.card-content-btm {
  margin-top: auto;
}

.card-content-btm button {
  margin: 0 8px;
}

.card-content-btm button:first-child {
  margin-left: 0;
}

.card-content-btm button:last-child {
  margin-right: 0;
}

footer {
  display: none !important;
}

.menu-btn-mob {
  display: none !important;
}

.menu-btn-mob svg {
  fill: #ffffff;
}

.card-content-holder {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 0;
}

.card-content-input {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-end;
}

.card-content-balance {
  display: flex;
  width: 75%
}

.standAlone {
  padding: 0;
  min-width: inherit;
  border-radius: 50%;
  margin-left: 16px;
}

.unstake-modal {
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}

.unstake-wrap {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 18px #00000014;
  border-radius: 13px;
  padding: 40px;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  position: relative;
}

.i-btn:focus {
  outline: none;
}

.unstake-wrap .i-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.unstake-card-title {
  text-align: left;
  font-size: 16px;
  letter-spacing: 0px;
  color: #25252C;
  opacity: 0.48;
  margin-bottom: 24px;
}

.backdrop-unstake {
  background-color: rgba(14,125,255,0.32);
  width: 100%;
  height: 100%;
  z-index: 9;
  min-width: 100%;
  position: fixed;
  top: 0;
}

.unstake-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 24px;
}

@media only screen and (max-width: 1024px) {
  .farms-content {
    flex-direction: column;
  }
  .card-wrap-column .card-wrap {
    min-width: auto;
  }
  .card-wrap {
    max-width: none;
    box-sizing: border-box;
    padding: 24px;
  }
  .card-wrap-column {
    margin-left: 0;
    margin-top: 40px;
  }
  .card-wrap-column .card-wrap {
    max-width: none;
  }
  .farms-content {
    width: 100%;
    padding: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .card-content-btm {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 592px) {
  .card-content-btm .b-btn {
    min-width: auto;
  }
}

@media only screen and (max-width: 426px) {
  .card-content-btm {
    display: flex;
    flex-direction: column;
  }
  .card-content-btm button {
    width: 100%;
    margin: 0;
    margin-bottom: 12px;
  }
  .card-content-row-title {
    margin-left: 12px;
    margin-right: 12px;
  }
  .styled-account-btn .nav-item {
    display: none !important;
  }
  .card-content-btm button:last-child {
    margin: 0;
  }
  .card-content-holder {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
  }
  .card-content-holder .input-selection {
    width: 100%;
    margin-top: 24px;
  }
  .card-wrap-column .card-wrap .card-content-btm {
    margin-top: 12px;
  }
  .card-content-holder .input-selection {
    right: 0;
  }
  .standAlone {
    display: none;
  }
  .wallet-card {
    padding: 0 !important;
  }
  .wallet-card div div div div, .modal-actions-btm {
    padding: 24 !important;
  }
  .card-content-balance,
  .card-content-input {
    width: 100%;
  }
  .card-content-text:first-child {
    margin-right: auto;
  }
  .unstake-wrap {
    width: 100%;
    margin: 0 24px;
    flex-direction: column;
  }
  .unstake-card {
    margin: 8px 24px;
  }
}